playwright==1.57.0
pandas
requests
python-dotenv
schedule
discord.py
vnstock
matplotlib
lxml
openpyxl
google-genai
asyncpg
psycopg2-binary
pgvector
langgraph
trafilatura
pymupdf
sentence-transformers
tenacity